<!DOCTYPE html>
<html>
<head>
    <title>SJSU Ansible Web Server</title>
</head>
<body>
    <h1>Hello World from SJSU-{{ server_number }}</h1>
    <p>This web page was deployed using Ansible.</p>
</body>
</html>
